{%  extends 'base.html.twig' %}

{% block title  %}  {% endblock %}

{% block body %}
<div class="container">
    <h1>Mes reservations</h1>
    <div class="alert alert-info mt-5">
        <p>
            Routrouvez ci dessous toutes vos reservations passées et à venir 
        </p>
    </div>
    
    {% for booking in app.user.bookings %}
    <div class="row">
        <div class="col-4">
            <img src="{{ booking.ad.coverImage }}" class="img-fluid" alt="">

            <div class="mt-3">
                {% set comment = booking.ad.commentFromAuthor(app.user) %}


                {%  if comment is not null %}
                    <strong> Note donnée :</strong>

                    {%  include 'partials/rating.html.twig' with {'rating':comment.rating} %}

                {% else  %}

                    Vous n'avez pas encore donné de note
                    <a href=" {{ path('booking_show',{'id':bboking.id}) }}#comment" >
                       Je donne mon  avis
                    </a>

                {% endif %}
            </div>
        </div>
        <div class="col-8">
            <h4>{{ booking.ad.title }}</h4>

            <p>
                Réservation <strong>numéro {{ booking.id }}</strong> <br>
                du {{ booking.startDate | date('d/m/Y') }} au {{ booking.endDate | date('d/m/Y') }}

                ( {{ booking.amount }} &euro;)
            </p>

            <a href="{{ path('booking_show',{'id':booking.id}) }}" class="btn btn-info">plus d'information</a>
        </div>
    </div>
        
        
    {% endfor %}
</div>
    
{% endblock %}